<div id="home" class="tab-pane in active">
	<div class="row">
		<div class="col-xs-12 col-sm-3 center">
			<span class="profile-picture">
				<img class="editable img-responsive" alt="Alex's Avatar" id="avatar2" src="/images/Lady/あ/0.jpg" width="200px"/>
			</span>

			<div class="space space-4"></div>

			<a href="#" class="btn btn-sm btn-block btn-info">
				<i class="icon-plus-sign bigger-120"></i>
				<span class="bigger-110">お気に入り追加</span>
			</a>

			<a href="#" class="btn btn-sm btn-block btn-warning">
				<i class="icon-envelope-alt bigger-110"></i>
				<span class="bigger-110">メッセージ送信</span>
			</a>
		</div><!-- /span -->

		<div class="col-xs-12 col-sm-9">
			<div class="center">
				
				<span class="btn btn-app btn-sm btn-light no-hover">
					<span class="line-height-1 bigger-170 blue"> 1,411 </span>

					<br />
					<span class="line-height-1 smaller-90"> Views </span>
				</span>

				<span class="btn btn-app btn-sm btn-yellow no-hover">
					<span class="line-height-1 bigger-170"> 32 </span>

					<br />
					<span class="line-height-1 smaller-90"> Followers </span>
				</span>

				<span class="btn btn-app btn-sm btn-pink no-hover">
					<span class="line-height-1 bigger-170"> 4 </span>

					<br />
					<span class="line-height-1 smaller-90"> Projects </span>
				</span>

				<span class="btn btn-app btn-sm btn-grey no-hover">
					<span class="line-height-1 bigger-170"> 23 </span>

					<br />
					<span class="line-height-1 smaller-90"> Reviews </span>
				</span>

				<span class="btn btn-app btn-sm btn-success no-hover">
					<span class="line-height-1 bigger-170"> 7 </span>

					<br />
					<span class="line-height-1 smaller-90"> Albums </span>
				</span>

				<span class="btn btn-app btn-sm btn-primary no-hover">
					<span class="line-height-1 bigger-170"> 55 </span>

					<br />
					<span class="line-height-1 smaller-90"> Contacts </span>
				</span>
			</div>

      
			<div class="space-12"></div>

			<div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
					<div class="profile-info-name"> 名前 </div>

					<div class="profile-info-value">
						<i class="icon-map-marker light-orange bigger-110"></i>
						<span><span><%= lady.name%></span></span>
					</div>
				</div>
								
				<div class="profile-info-row">
					<div class="profile-info-name"> 年齢 </div>

					<div class="profile-info-value">
						<i class="icon-map-marker light-orange bigger-110"></i>
						<span><span><%= lady.age.value%>歳</span></span>
					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name"> 3サイズ </div>
					<div class="profile-info-value">
						<span>T <%= lady.height.value%> -B <%= lady.bust.value%> ( <%= lady.bustCup%> ) -W <%= lady.waist.value%> -H <%= lady.hip.value%></span>
					</div>
				</div>

        <div class="profile-info-row">
					<div class="profile-info-name"> 所属店舗 </div>
					<div class="profile-info-value">
						<span><%= lady.shop.name%>  </span> 
					</div>
				</div>
				
        <div class="profile-info-row">
					<div class="profile-info-name"> 店舗詳細 </div>
					<div class="profile-info-value">
						<span><%= lady.shop.shopTypeName%> / <%= lady.adressSpot%></span>
					</div>
				</div>
								
				<div class="profile-info-row">
					<div class="profile-info-name"> 直近の出勤日 </div>

					<div class="profile-info-value">
						<span>20/06/2010</span>
					</div>
				</div>

			</div>


		</div><!-- /span -->
	</div><!-- /row-fluid -->

	<div class="space-20"></div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="widget-box transparent">
				<div class="widget-header widget-header-small">
					<h4 class="smaller">
						<i class="icon-check bigger-110"></i>
						アピールコメント
					</h4>
				</div>

				<div class="widget-body">
					<div class="widget-main">
						<p>
							<% if (lady.memo != undefined) { %>
								<%= lady.memo %>
							<% } else { %>
								応援お願いします。
							<% } %>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div class="widget-box transparent">
				<div class="widget-header widget-header-small header-color-blue2">
					<h4 class="smaller">
						<i class="icon-lightbulb bigger-120"></i>
						My Skills
					</h4>
				</div>

				<div class="widget-body">
					<div class="widget-main padding-16">
						<div class="clearfix">
							<div class="grid3 center">
								<div class="easy-pie-chart percentage" data-percent="45" data-color="#CA5952">
									<span class="percent">45</span>%
								</div>

								<div class="space-2"></div>
								Graphic Design
							</div>

							<div class="grid3 center">
								<div class="center easy-pie-chart percentage" data-percent="90" data-color="#59A84B">
									<span class="percent">90</span>%
								</div>

								<div class="space-2"></div>
								HTML5 & CSS3
							</div>

							<div class="grid3 center">
								<div class="center easy-pie-chart percentage" data-percent="80" data-color="#9585BF">
									<span class="percent">80</span>%
								</div>

								<div class="space-2"></div>
								Javascript/jQuery
							</div>
						</div>

						<div class="hr hr-16"></div>

						<div class="profile-skills">
							<div class="progress">
								<div class="progress-bar" style="width:80%">
									<span class="pull-left">HTML5 & CSS3</span>
									<span class="pull-right">80%</span>
								</div>
							</div>

							<div class="progress">
								<div class="progress-bar progress-bar-success" style="width:72%">
									<span class="pull-left">Javascript & jQuery</span>

									<span class="pull-right">72%</span>
								</div>
							</div>

							<div class="progress">
								<div class="progress-bar progress-bar-purple" style="width:70%">
									<span class="pull-left">PHP & MySQL</span>

									<span class="pull-right">70%</span>
								</div>
							</div>

							<div class="progress">
								<div class="progress-bar progress-bar-warning" style="width:50%">
									<span class="pull-left">Wordpress</span>

									<span class="pull-right">50%</span>
								</div>
							</div>

							<div class="progress">
								<div class="progress-bar progress-bar-danger" style="width:35%">
									<span class="pull-left">Photoshop</span>

									<span class="pull-right">35%</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- #home -->