<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <script type="text/javascript">
        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
      </script>

      <ul class="breadcrumb">
        <li>
          <i class="icon-home home-icon"></i>
          <a href="#">Home</a>
        </li>
        <li class="active">出勤管理</li>
      </ul><!-- .breadcrumb -->

      <div class="nav-search" id="nav-search">
        <form class="form-search">
          <span class="input-icon">
            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
            <i class="icon-search nav-search-icon"></i>
          </span>
        </form>
      </div><!-- #nav-search -->
    </div>
    <div class="page-content">
      <div class="page-header">
        <h1>
          女の子の出勤一覧
        </h1>
      </div><!-- /.page-header -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="row">
									<div class="col-sm-9">
										<div class="space"></div>

										<div id="calendar"></div>
									</div>

									<div class="col-sm-3">
										<div class="widget-box transparent">
											<div class="widget-header">
												<h4>女の子</h4>
											</div>

											<div class="widget-body">
												<div class="widget-main no-padding">
													<div id="external-events">
														<% _.each(ladys, function(lady) { %>
															<div class="external-event" id="<%= session.Admin.shops[0].id %>/<%= lady.id %>" style="backGround:<%= lady.themaColor %>" data-color="<%= lady.themaColor %>" >
																<i class="icon-move"></i>
																<%= lady.name %>
															</div>
														<% }) %>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->

    </div>
</div>
